<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Chiro KODB</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>


<div class="row1">
    <div class="row1content" th:if="${activity}">
        <h2 th:text="${activity.activityName}" >activitydetails</h2>

        <div class="groupinfo">
            <div class="infoLine">
                <div class="infoLineName">info:</div>
                <div class="infoLineValue">
                    <a th:href="${activity.linkMoreInfo}" th:text="${activity.linkMoreInfo}" target="_blank">linkMoreIfo</a>
                </div>
            </div>
            <div class="infoLineName">group:</div>
            <div class="infoLineValue">
                <a th:text="${activity.groupName}" >groupname</a>
            </div>
        </div>
        <div class="infoLineName">startHour:</div>
        <div class="infoLineValue">
            <a  th:text="${activity.startHour}" >startHour</a>
        </div>

        <div class="infoLineName">endHour:</div>
        <div class="infoLineValue">
            <a th:text="${activity.endHour}" >endHour</a>
        </div>
        <div class="infoLineName">freeParkingAvailable:</div>
        <div class="infoLineValue">
            <a th:text="${activity.freeParkingAvailable}" >freeParkingAvailable</a>
        </div>
        <div class="infoLineName">Capacity:</div>
        <div class="infoLineValue">
            <a th:text="${activity.capacity}" ></a>
        </div>
        <div class="infoLineName">Cost:</div>
        <div class="infoLineValue">
            <a th:text="${activity.cost}" >cost</a>
        </div>
    </div>
</div>

<div class="prevButtonDiv">
    <a class="buttonLook smallButton" th:href="@{|/activitydetails/${prevId}|}">&lt;</a>
</div>
<div class="nextButtonDiv">
    <a class="buttonLook smallButton" th:href="@{|/activitydetails/${nextId}|}">&gt;</a>
</div>
<div class="row1content" th:unless="${activity}">
    <p>no activity was chosen</p>
</div>
</div>
<div class="row1"  th:if="${activity}">
    <div class="row1content">
        <h2  th:text="|news about ${activity.activityName}|">news for this activity</h2>

        <div class="venuelist">
            <div th:each="news:${newss}">
                <a class="buttonLook mediumButton" th:href="@{|/newsdetails/${news.id}|}">
                    <span th:text="${news.name}">activity name </span>
                </a>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">Footer</div>

</body>
</html>